/* Sidebar.css */
.sidebar {
    position: fixed;  /* Keep it fixed on the side */
    top: var(--nav-bar-height);
    left: 0;
    width: var(--side-bar-width); 
    padding-left: 8px; /* Space between the nav bar and first link */
    padding-top: 34px; 
    padding-right: 8px; 
    height: 100vh;  /* Full height of the screen */
    border-right: 1px solid #ccc;  /* Adds a subtle grayish line to the right */
    overflow-x: hidden;
    transition: width 0.25s ease;
  }
  
.sidebar.collapsed {
  width: 60px; /* Shrink width when text is hidden */
  border-right: 1px solid #ccc; /* Still keep border, now aligned to new width */
}

.sidebar.collapsed span {
  display: none;
}

.sidebar.collapsed > ul div {
  justify-content: center;
}




.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidebar ul a {
  color: inherit; /* blue colors for links too */

  text-decoration: none; /* no underline */

}





.sidebar ul a div {
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
}


.menu-item:hover {
  transition: all .2s ease-out; /* ← animate any transform change */

  background-color: hsla(191, 79%, 32%, 0.1);
}

.menu-item:hover .icon{
  transition: all .1s ease-out; /* ← animate any transform change */

  transform: scale(1.1);

}


.menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;

}

.menu-item span {
white-space: nowrap;
overflow: hidden;
}
.icon {
  width: 24px;
  height: 24px;
}

.active {
  color: #118193;
  background-color: hsla(191, 79%, 32%, 0.2);
}
