/* Sidebar.css */
.sidebar {
  position: fixed;
  top: var(--nav-bar-height);
  left: 0;
  width: var(--side-bar-width);
  transition: width 0.1s ease;     /* ← this line */
  height: 100vh;
  border-right: 1px solid #ccc;
  background: #fff;
  padding: 32px 8px 8px;
}



.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidebar ul a {
  color: inherit; /* blue colors for links too */

  text-decoration: none; /* no underline */

}





.sidebar ul a div {
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
}


.menu-item:hover {
  transition: all .2s ease-out; /* ← animate any transform change */

  background-color: hsla(191, 79%, 32%, 0.1);
}

.menu-item:hover .icon{
  transition: all .1s ease-out; /* ← animate any transform change */

  transform: scale(1.1);

}


.menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;

}

.menu-item span {
white-space: nowrap;
overflow: hidden;
}
.icon {
  width: 24px;
  height: 24px;
}

.active {
  color: #118193;
  background-color: hsla(191, 79%, 32%, 0.2);
}
