.map-main-content {
  display: flex;
  height: calc(100vh - var(--nav-bar-height));
  overflow: hidden;
}

.map-listings {
  width: 40%;
  overflow-y: auto; /* Enable vertical scrolling */
  height: calc(100vh - var(--nav-bar-height));
  box-sizing: border-box;
  padding:20px
}

  
.map-map {
  position: fixed;
  right: -100;
  top: -100;
  width: 60%;
  height: calc(100vh - var(--nav-bar-height));
  z-index: 1;
}

.map-rating {
  display: flex;
  align-items: center;
  color: #f59e0b;
  margin-top: 10px;
}

.map-rating i {
  margin-right: 4px;
}

