.map-main-content {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.map-listings {
  width: 50%;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100vh;
  box-sizing: border-box;
}

.map-map {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  z-index: 1;
}

.map-rating {
  display: flex;
  align-items: center;
  color: #f59e0b;
  margin-top: 10px;
}

.map-rating i {
  margin-right: 4px;
}

