.profile-sidebar {
  display: flex;
  flex-direction: column;
  gap:20px

}

.apartment-matches {
  margin-bottom: 20px;
}
.profile-page {
  display: grid;
  gap: 30px;
  grid-template-columns: minmax(0, min(25%, 200px)) 1fr;
  }


.handle {
  margin-top: 0;
  color: #666;
}


.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px
}

/* Form styling */
.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.profile-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}


.profile-img-wrapper {
  position: relative;
  width: 120px; /* Adjust as needed for your desired size */
  height: 120px; /* Should be equal to width for a perfect circle */
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px auto; /* Center the image and add some bottom margin */
  cursor: pointer;
  border: 2px solid #eee; /* Optional: Add a subtle border */
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* Ensures the image behaves as a block element */
}

/* Add this to make the overlay visible on hover */
.profile-img-wrapper:hover .image-overlay {
  opacity: 1;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease; /* Added ease for smoother transition */
  pointer-events: none; /* Allows clicks to pass through when not hovered */
}
.profile-img-wrapper:hover .image-overlay {
  opacity: 1;
  pointer-events: auto; /* Re-enable pointer events on hover */
}

.change-photo-text {
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 5px 10px;
}

.edit-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px
}

