@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --background-color: #ffffff;
    --text-color: #313638;
    --subtext-color: #59636E;
    --primary-color: #78b2a3;
    --link-hover-color: #ff69b4;

    --nav-bar-height: 60px;
    --side-bar-width: 236px;
    --side-bar-closed-width: 50px; /* Smaller sidebar width for small screens */
    --card-border-radius: 16px;
}

@media (max-width: 768px) {
  :root {
    --side-bar-width: var(--side-bar-closed-width); 
  }
}

body {
  color: var(--text-color);
}

* {
  font-family: 'inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  margin-top: var(--nav-bar-height); 
  margin-left: var(--side-bar-width);
  padding-left: 30px; /* padding of the main page content */
  padding-top: 44px; 
}

h2 {
  color: #313638;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h1 {
  color: #313638;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;  
}

h3 {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

input::placeholder {
  color:var(--text-color)
}

a:hover{
  color: var(--link-hover-color);
}