@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --background-color: #ffffff;
    --text-color: #313638;
    --subtext-color: #59636E;
    --primary-color: #78b2a3;
    --link-hover-color: #ff69b4;

    --nav-bar-height: 60px;
    --side-bar-width: 220px;
    --side-bar-closed-width: 50px; /* Smaller sidebar width for small screens */
    --card-border-radius: 16px;
}

@media (max-width: 768px) {
  :root {
    --side-bar-width: var(--side-bar-closed-width); 
  }
}

input {
    height: 40px;
    width: 320px; 
    border-radius: 5px;
    border: 1px solid #D2D2D9;
    background: #F8F8F8;
    padding: 10px 16px;
    font-size: 16px;
    gap: 8px;
}

input::placeholder {
  color: #59636E;
}

body {
  color: var(--text-color);
}

* {
  font-family: 'inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  margin-top: var(--nav-bar-height); 
  margin-left: var(--side-bar-width);
  padding-left: 32px; /* padding of the main page content */
  padding-top: 44px; 
  padding-right: 64px; 
}
.no-padding {
  padding-right:0; 
  padding-top:0;
}
a.url {
  color: hsla(224, 93%, 61%, 1);
}
.page-container.no-sidebar {
  margin-left: 0;

}

button.secondary{
  padding: 8px 24px;
  border: 1px solid #D2D2D9;
  background: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button.secondary:hover {
  background: rgba(210, 210, 217, 0.50);
}

button.primary {
  padding: 8px 24px;
  border: 1px solid #D2D2D9;
  color: white;
  background: hsla(188, 79%, 32%, 1);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;

}
h2 {
  color: #313638;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h1 {
  color: #313638;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;  
}

h3 {
  color: #313638;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

input::placeholder {
  color:var(--text-color)
}

a:hover{
  color: var(--link-hover-color);
}